.grid {
  border: 1px solid black;
  height: 120px;
  width: 140px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 20px;
  width: 20px;
}

.player-one {
  background-color: red;
  border-radius: 10px;
}
.player-two {
  background-color: blue;
  border-radius: 10px;
}
.p-one-score {
  border: 1px solid black;
  height: 20px;
  width: 120px;
  background-color: red;
  font-weight: bold;
}
.p-two-score {
  border: 1px solid black;
  height: 20px;
  width: 120px;
  background-color: blue;
  color: rgb(214, 122, 127);
  font-weight: bold;
}

.hidden {
  display: none;
}
